::ng-deep {
    body {
        background: gainsboro;
    }
    .header-login {
        padding-left: 30px;
        height: 40px;
        padding-right: 30px;
        background: #18a689;
        color: white;
        display: flex;
        align-items: center;
        .btn-login {
            margin-left: auto;
        }
        .btn-logout {
            margin-left: auto;
        }
        a {
            margin-left: auto;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .do-survey {
        padding: 20px;
        #surveyElement {
            .custom-title-answer {
                color: inherit;
                font-weight: unset;
            }
            .custom-title-answer-loop {
                color: inherit;
                font-weight: unset;
            }
        }
        .offline {
            color: black;
            .title {
                background: #18a689;
                color: white;
                text-align: center;
                padding: 18px;
            }
            .form-offline {
                padding: 25px;
                text-align: center;
                background: white;
                .form-group {
                    margin-bottom: 0 !important;
                }
                .mat-form-field {
                    width: 280px;
                }
                .list-btn {
                    display: flex;
                    justify-content: center;
                    button {
                        padding-left: 6px;
                        padding-right: 6px;
                    }
                    .btn-update-formoffline {
                        background: #18a689;
                        color: white;
                        margin-left: 3px;
                    }
                    .btn-delete {
                        background: #f44336;
                        color: white;
                        margin-left: 3px;
                    }
                    .btn-update-formoffline[disabled] {
                        cursor: not-allowed;
                    }
                }
            }
            
            // .btn-edit {
            //     background: #18a689;
            //     color: white;
            //     margin-left: 3px;
            // }
        }
        .complete-container {
            background: #00bf6f;
            color: white;
            .complete-content {
                display: table;
                font-size: 30px;
                margin: 0 auto;
                padding: 36px 0;
                text-align: center;
            }
        }
        .error-container {
            background: red;
            color: white;
            .error-content {
                display: table;
                font-size: 30px;
                margin: 0 auto;
                padding: 36px 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
     ::ng-deep {
        .do-survey {
            .form-offline {
                .mat-form-field {
                    width: 100% !important;
                }
                button {
                    font-size: 12px;
                }
            }
            .mat-table {
                background-color: white;
                width: 100% !important;
                display: table;
            }
        }
    }
}